@import "../root.scss";
@import "../mixins.scss";

#game-settings-page > div {
  padding: 0 30px;
  position: relative;
  min-height: 400px; // TODO: might need to remove that eventually when the number of inputs allow it
}

#game-settings-page h2,
#game-settings-page h3,
#game-settings-page option,
#game-settings-page label,
#game-settings-page span {
  color: #fff;
  font-family: $font;
}

#game-settings-page h2 {
  font-size: 1.9em;
  margin: 0;
}

#game-settings-page h3 {
  display: flex;
  align-items: center;
  margin: 40px 0;
  
  span {
    font-size: 1.7em;
  }
}

#game-settings-page .game-specific-settings {
  display: flex;
  flex-wrap: wrap;

  div {
    margin-right: 20px;
    max-width: 200px;
    width: 100%;
  }
}

#game-settings-page .game-specific-settings label {
  display: block;
  margin-bottom: 10px;
}

#game-settings-page select {
  margin-left: 20px;
  min-width: 250px;
}

#game-settings-page .game-specific-settings input {
  width: 100%;
  box-sizing: border-box;
}

#game-settings-page #confirm-game-settings {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 1.6em;
  padding: 20px 30px;
}