@font-face {
    font-family: "SpaceInvadersFont";
    src:
        url("/fonts/MinecraftRegular.otf") format("opentype"),
        url("/fonts/MinecraftBold.otf") format("opentype"),
        url("/fonts/MinecraftItalic.otf") format("opentype"),
        url("/fonts/MinecraftBoldItalic.otf") format("opentype");
}

@import "./root.scss";
@import "./globals.scss";
@import "./modal.scss";
@import "./mixins.scss";

img.main-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    @include disable-interactivity();
}

body {
    margin: 0;
    padding: 10px;
    height: 100vh;
    box-sizing: border-box;
    background-color: $main-background-color;
    overflow: hidden;
    @include vertical-center();
}

body>#ui {
    transition: opacity 200ms ease;
    opacity: 1;

    &[aria-hidden="true"] {
        pointer-events: none;
        opacity: 0;
    }

    @include vertical-center();
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &[aria-disabled="true"] {
        @include disable-interactivity();
    }
}

button:focus,
dialog:focus,
input:focus,
select:focus {
    outline: 3px solid $primary-color;
}

h1 {
    color: #fff;
    font-family: $font;
    font-size: 2.5em;
    margin: 0 0 50px 0;
    text-align: center;
}

main button {
    display: block;
    margin-bottom: 20px;
    width: 300px;

    &:nth-child(2)>i {
        position: relative;
        left: -5px;
    }

    &:nth-child(2)>i>i:last-of-type {
        position: relative;
        left: -3px;
    }

    @media screen and (max-width: 400px) {

        // the class has to be added to the specifier
        // because the button.primary from globals.scss
        // has higher priority than "main button"
        &.primary {
            width: 100%;
            max-width: 300px;
            font-size: 0.95em;
            white-space: nowrap;

            &.with-icon {
                padding-right: 40px;
                padding-left: 40px;
            }
        }
    }
}

.corner-buttons {
    position: absolute;
    top: 30px;
    right: 30px;
}

#container-score {
    font-family: $font;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    transition: opacity 200ms ease;

    &[aria-hidden="true"] {
        opacity: 0;
    }
}

/*
*
* Modal panels
*
*/

@import "modal-pages/credits-page.scss";
@import "modal-pages/ranking-page.scss";
@import "modal-pages/settings-page.scss";
@import "modal-pages/game-settings-page.scss";
@import "modal-pages/lobby-page.scss";

/*
*
* Game borders
*
*/

#game-left-border,
#game-right-border {
    background-color: #000;
    height: 100vh;
    width: 15vw;
    transition: transform 800ms ease;
    position: fixed;
    top: 0;

    &[aria-hidden="false"] {
        transform: translateX(0);
    }

    @media screen and (max-width: 750px) {
        width: 0;
    }
}

#game-left-border {
    left: 0;
    transform: translateX(-100%);
}

#game-right-border {
    right: 0;
    transform: translateX(100%);
}

/*
*
* Death and pause screen
*
*/

.in-game-overlay {
    position: fixed;
    z-index: 20;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(#fff, 0) 0%, rgba(#111, 0.8) 40%, rgba(#111, 0.8) 60%, rgba(#fff, 0) 100%);

    opacity: 1;
    transition: opacity 200ms ease;

    &[aria-hidden="true"] {
        opacity: 0;
        @include disable-interactivity();
    }

    b {
        font-family: $font;
        font-weight: bolder;
    }
}

#death-screen {
    height: 20vh;
    min-height: 200px;

    b {
        font-size: 5.5em;
        color: rgb(255, 30, 30);

        @media screen and (max-width: 400px) {
            font-size: 4em;
        }
    }
}

#pause-screen {
    height: 30vh;
    min-height: 200px;
    flex-direction: column;

    b {
        font-size: 3.5em;
        color: rgb(22, 51, 145);
    }

    p,
    button {
        font-family: $font;
        color: #fff;
        font-weight: bolder;
    }

    p {
        text-align: center;
        margin: 20px 0;
        font-size: 18px;
    }

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        button {
            cursor: pointer;
            background-color: transparent;
            display: block;
            border: none;
            text-decoration: underline;
            font-size: 18px;
            text-align: center;
            margin-bottom: 10px;
            transition: text-shadow 200ms ease;

            &:hover,
            &:focus {
                text-shadow: 0 1px 1px #fff;
            }
        }
    }
}
