@font-face {
  font-family: "SpaceInvadersFont";
  src:
    url("/fonts/MinecraftRegular.otf") format("opentype"),
    url("/fonts/MinecraftBold.otf") format("opentype"),
    url("/fonts/MinecraftItalic.otf") format("opentype"),
    url("/fonts/MinecraftBoldItalic.otf") format("opentype");
}

@import "root.scss";
@import "globals.scss";

@mixin disable-interactivity {
  user-select: none;
  pointer-events: none;
  z-index: -1;
}

@mixin vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.main-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  @include disable-interactivity();
}

body {
  margin: 0;
  height: 100vh;
  background-color: $main-background-color;
  overflow: hidden;
  @include vertical-center();
}

body > #ui {
  transition: opacity 200ms ease;
  opacity: 1;

  &[aria-hidden="true"] {
    opacity: 0;
  }

  @include vertical-center();
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &.disabled {
    @include disable-interactivity();
  }
}

button:focus {
  outline: 3px solid $primary-color;
}

h1 {
  color: #fff;
  font-family: $font;
  font-size: 2.5em;
  margin: 0 0 50px 0;
}

main button {
  display: block;
  margin-bottom: 20px;
  width: 300px;

  &:nth-child(2) > i {
    position: relative;
    left: -5px;
  }

  &:nth-child(2) > i > i:last-of-type {
    position: relative;
    left: -3px;
  }
}

.corner-buttons {
  position: absolute;
  top: 30px;
  right: 30px;
}