$main-background-color: #030303;
$input-background-color: #161313;
$font: "SpaceInvadersFont", sans-serif;
$primary-color: #154A71;
$primary-black: #201F1F;
$primary-shade: linear-gradient(to right, #201F1F 30%, rgb(18, 14, 14, 0.8) 100%);